@{
    ViewData["Title"] = "Overview";
}
@model List<SmartExpenses.Models.Category>
<div class="text-center">
    <h3>Categories</h3>
    <hr />
    <a class="btn btn-primary" asp-controller="Categories" asp-action="Upsert">New</a>
    <hr />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>@category.CategoryType</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Upsert" asp-route-id="@category.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
