@{
    ViewData["Title"] = "Incomings";
}
@model List<Incoming>

<div class="text-center">
    <h3 class="text-center">Incomings Overview</h3>
    <hr />
    <a class="btn btn-primary" asp-controller="Incomings" asp-action="Upsert">New</a>
    <br />
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Value.ToString("N2")</td>
                    <td>@item.Description</td>
                    <td>@item.ExpenseDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Upsert" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>