    @{
    ViewData["Title"] = "Incomings";
}
@model List<Incoming>

<div class="text-center">
    <h3 class="text-center">Incomings Overview</h3>
    <hr />
    <div class="row">
        <div class="col d-flex justify-content-between">
            <form class="col-4" asp-action="Overview" asp-controller="Incomings" method="get">
                <select class="form-control w-50" style="display: inline-block" asp-items="ViewBag.Categories" name="categoryId">
                    <option selected="selected" value="">Select Category</option>
                </select>
                <input class="btn btn-primary" style="display: inline-block" type="submit" value="Search" />
            </form>
            <h3 class="tbtn btn-secondary col-4 mx-auto" style="margin:auto">ALL @Model.Sum(x => x.Value) </h3>
            <div class="col-4 float-right">
                <a class="btn btn-primary " asp-controller="Incomings" asp-action="Upsert">New</a>
            </div>
        </div>

    </div>
    <br />
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Value.ToString("N2")</td>
                    <td>@item.Description</td>
                    <td>@item.ExpenseDate.ToShortDateString()</td>
                    <td>@item.Category?.Name</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Upsert" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>