@using SmartExpenses.ViewModels.Expenses
@{
    ViewData["Title"] = "Overview";
}
@model ExpensesOverviewVM
<div class="text-center">
    <h3>Expenses</h3>
    <hr />
    <div class="row">
        <div class="col d-flex justify-content-between">
            <div class="col-4"></div>
            <h3 class="col-4 mx-auto" style="margin:auto">
                <i class="fa fa-money"></i> 
                ALL @Model.Expenses?.Sum(x => x.Value) 
            </h3>
            <div class="col-4 float-right">
                <a class="btn btn-primary" asp-controller="Expenses" asp-action="Upsert">New</a>
            </div>
        </div>
    </div>
    <hr/>
    <form id="filterform" asp-action="Overview" asp-controller="Expenses" method="get">
        <div class="row">
            <div class="col-2">
            <select id="CategoryId" asp-for="SelectedCategory.Id" asp-items="@Model?.CategoryListItems" name="categoryId" class="form-control mb-2">
                <option selected="selected" value="">Select Category</option>
            </select>
            </div>
            <div class="col-3"><input asp-for="DescriptionFilter" class="form-control" type="text" placeholder="decription"/></div>
            <div class="col-2"><input asp-for="ValueMinFilter" class="form-control" type="number" placeholder="value min" /></div>
            <div class="col-2"><input asp-for="ValueMaxFilter" class="form-control" type="text" placeholder="value max" /></div>
            <div class="col-2"><button id="btnSubmit" class="btn btn-primary form-control"><i class="fa fa-search"></i> Search</button></div>
            <div class="col-1"> <button class="btn btn-outline-secondary form-control" id="btnClear" type="button"><i class="fa fa-eraser"></i> Clear</button></div>
        </div>
    </form>
    <hr />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.Expenses ?? [])
            {
                <tr>
                    <td>@expense.Id</td>
                    <td>@expense.Value.ToString("N2")</td>
                    <td>@expense.Description</td>
                    <td>@expense.ExpenseDate.ToShortDateString()</td>
                    <td><a asp-controller="Categories" asp-action="Upsert" asp-route-id="@expense.Category?.Id">
                        @expense.Category?.Name
                        </a> 
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Upsert" asp-route-id="@expense.Id"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@expense.Id"><i class="fa fa-close"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $("#btnClear").click(function() {
            $("#CategoryId").val("");
            $("#DescriptionFilter").val("");
            $("#ValueMinFilter").val("");
            $("#ValueMaxFilter").val("");
            $("#filterform").submit();
        });
        $("#btnSubmit").click(function(){
            $("#filterform").submit();
        });
    });
</script>