@{
    ViewData["Title"] = "Overview";
}
@model List<Expense>
<div class="text-center">
    <h3>Expenses</h3>
    <hr />
    <a class="btn btn-primary" asp-controller="Expenses" asp-action="Upsert">New</a>
    <hr />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                <tr>
                    <td>@expense.Id</td>
                    <td>@expense.Value.ToString("N2")</td>
                    <td>@expense.Description</td>
                    <td>@expense.ExpenseDate.ToShortDateString()</td>
                    <td>@expense.Category?.Name</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Upsert" asp-route-id="@expense.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@expense.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>